extends layout

block content
    .products
        .title
            span Thông tin sản phẩm
        #detail.row
            #avata
                img(src= '../../'+item.avata, alt= item.name)
            #info
                #name
                    h1= item.name
                #category
                    | Thể loại: 
                    = category.name
                #publishing
                    | Nhà xuất bản: 
                    = publisher.name
                #price
                    | Giá: 
                    = item.price +' đ'
                #category
                    | Lượt xem: 
                    = item.view
                #category
                    | Lượt bán: 
                    = item.sold
                #description !{item.description}
    if itemsCategory
        .products
            .title
                span Sách cùng thể loại
            .row.items
                each item in itemsCategory
                    a.item(href= '/product/detail/' + item.link_seo + '_' + item._id)
                        div
                            .avata
                                img(src= '../../'+item.avata, alt= item.name)
                            .name
                                h3= item.name
                            .price= item.price + ' đ'
                        .description
                            ul
                                li= 'Tên sách: ' + item.name
                                li= 'Nhà xuất bản: ' + item.name_publis
                                li= 'Thể loại: ' + item.name_category
                                li= 'Giá: ' + item.price + ' đ'
    if itemsPublisher
        .products
            .title
                span Sách cùng nhà sản xuất
            .row.items
                each item in itemsPublisher
                    a.item(href= '/product/detail/' + item.link_seo + '_' + item._id)
                        div
                            .avata
                                img(src= '../../' + item.avata, alt= item.name)
                            .name
                                h3= item.name
                            .price= item.price + ' đ'
                        .description
                            ul
                                li= 'Tên sách: ' + item.name
                                li= 'Nhà xuất bản: ' + item.name_publis
                                li= 'Thể loại: ' + item.name_category
                                li= 'Giá: ' + item.price + ' đ'