extends layout

block content
  .products
    .title
      span Sách mới
    .row.items
      if listItems
        each item in listItems
          a.item(href= '/product/detail/' + item.link_seo + '_' + item._id)
            div
              .avata
                img(src= item.avata, alt= item.name)
              .name
                h3= item.name
              .price= item.price + ' đ'
            .description
              ul
                li= 'Tên sách: ' + item.name
                li= 'Nhà xuất bản: ' + item.name_publis
                li= 'Thể loại: ' + item.name_category
                li= 'Giá: ' + item.price + ' đ'
  .products
    .title
      span Sách nổi bật
    .row.items
      if listenItemsHot
        each item in listenItemsHot
          a.item(href= '/product/detail/' + item.link_seo + '_' + item._id)
            div
              .avata
                img(src= item.avata, alt= item.name)
              .name
                h3= item.name
              .price= item.price + ' đ'
            .description
              ul
                li= 'Tên sách: ' + item.name
                li= 'Nhà xuất bản: ' + item.name_publis
                li= 'Thể loại: ' + item.name_category
                li= 'Giá: ' + item.price + ' đ'
  .products
    .title
      span Sách xem nhiều
    .row.items
      if listenItemsView
        each item in listenItemsView
          a.item(href= '/product/detail/' + item.link_seo + '_' + item._id)
            div
              .avata
                img(src= item.avata, alt= item.name)
              .name
                h3= item.name
              .price= item.price + ' đ'
            .description
              ul
                li= 'Tên sách: ' + item.name
                li= 'Nhà xuất bản: ' + item.name_publis
                li= 'Thể loại: ' + item.name_category
                li= 'Giá: ' + item.price + ' đ'
      

